<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.benjaminlize.yourvoiceheard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".application.YourVoiceHeardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".petitions.view.PetitionsActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.MainActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.LoginActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".register.view.RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.RegisterActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".forgot.view.ForgotPasswordActivity"
            android:label="Reset Password"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.ForgotPasswordActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".start.view.StartPage"
            android:label="YourVoiceHeard"
            android:theme="@style/AppTheme">
            <intent-filter>s
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".petitiondetails.view.PetitionDetailsActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".petitions.view.PetitionsActivity" />
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.PetitionActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.view.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".petitions.view.PetitionsActivity" />
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.SettingsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.view.PreferencesActivity"
            android:label="Preferences"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.view.SettingsActivity" />
            <intent-filter>
                <action android:name="com.example.bejaminlize.yourvoiceheard.PreferencesActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider923679727707562"
            android:exported="true"/>
    </application>

</manifest>
